# exclude all in the main scope
# this helps to exclude most of the package resources that are not my configs
/*

# exclude EMACS temp files
\#*\#
.\#*

*.bak

*.elc

# track the git-ignore, the main config file (init.el), license file, and read-me
!/init.el
!/README.md
!/LICENSE
!/.gitignore

# keep only directories with my config in it
!/elisp/
!/icons/
!/themes/
!/vendor/
!/templates/
